<p>
  https://app.recurly.com/subscribe/basic_monthly/[UNIQUE ACCOUNT CODE, USE USER.ID]?first_name=Ed....
</p>


<p>
  <a href="https://app.recurly.com/subscribe/basic_monthly?first_name=Edijs&last_name=Petersons&email=eddpeterson@gmail.com">Basic Monthly Subscription</a>
  
  
</p>
<p>
  <a href="https://app.recurly.com/subscribe/basic_yearly?first_name=Edijs&last_name=Petersons&email=eddpeterson@gmail.com">Basic Yearly Subscription</a>
</p>



<p>
  <%= link_to "Integrated Basic Plan", integrated_basic_monthly_path %>
  
</p>